<h2 class = "m-3">Sign up</h2>

<%= form_with model: @customers, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table class = "m-3">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>名前</td>
        <td><%= f.label :last_name, "(姓)" %></td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.label :first_name, "(名)" %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.label :last_name_kana, "(セイ)" %></td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.label :first_name_kana, "(メイ)" %></td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td></td>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td></td>
        <td><%= f.text_field :address %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>パスワード(6文字以上)</td>
        <td><% if @minimum_password_length %><% end %></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>パスワード(確認用)</td>
        <td></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="actions ml-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<p class ="ml-3">既に登録済みの方</p>

<p class ="ml-3"><a href = "/customers/sign_in">こちら</a>からログインしてください。</p>

